body {
  background-image: url(philadelphia-70850.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1920px 1080px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
  vertical-align: bottom  ;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
