body {
  background-image: url(philadelphia-70850.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1920px 1080px;
  max-width: 100%;
  overflow-x: hidden;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 90px;
  text-align: center;
  vertical-align: bottom;
}

table.index_center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  height: auto;
  width: auto;
  background-color: white;
  opacity: 0.7;
  padding: 40px;
}

img.spotifyclass {
  height: auto;
  width: auto;
}

th.welcome {
  font-family: helvetica;
  font-size: 30px;
  column-span: all;
}

td.introtext {
  width: 300px;
  height: auto;
  font-family: helvetica;
  text-align: justify;
  padding-top: 30px;
  border-width: thick;
}
