body {
  background-image: url(https://i.imgur.com/ophEz9c.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1920px 1080px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
}

.footertable {
  height: 90px;
}

<!--
Below are social media icons.
Code originally found at https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
-->

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
   opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}
